/* --- Google Fonts --- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url("components/container.css");
@import url("components/notification.css");

/* --- Fonts --- */
body {
  background-image: url(https://picsum.photos/seed/picsum/1920/1280);
  background-size: cover;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding: 100px 0;
  margin: 0;
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 700px;
}
.text-center {
  text-align: center;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
.list-inline li {
  display: inline-block;
}
