.notification {
  background-color: white;
  display: flex;
  border-radius: 5px;
  border: 2px solid #6BC4B6;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  justify-content: space-between;
  padding: 11px 25px;
  width: 60%;
  min-height: 50px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px auto;
}

.notification p {
  color: #727F7E;
}

.notification button {
  background-color: transparent;
  border: transparent;
  color: #727F7E;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.notification-alert {
  border-color: #DF9E98;
}

.notification-success {
  border-color: #8EC5E0;
}
